body{
  background-color: #233142;
  display: flex;
  justify-content: center;
}

#sectionCumbiamon{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  display: flex;
  font-size: 36px;
  font-family: "Pacifico", cursive;
  font-weight: 700;
  color: #FACF5A;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: rgba(35, 49, 66, 0.7);
}

h1{
  margin: 0px;
}

h2{
  display: flex;
  font-size: 20px;
  margin: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #FACF5A;
}

input{
  display: none;
}

#cardContainer{
  display: flex;
  margin: 20px 0px 20px 0px;
}

.characterCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 250px;
  padding: 5px;
  box-sizing: border-box;
  margin: 10px;
  border: 2px solid #4F9DA6;
  border-radius: 20px;
  background-color: #FACF5A;
  color: #FF5959;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.characterCard:hover, input:checked + label{
  background-color: #4F9DA6;
  color: #FACF5A;
}

.characterName{
  margin: 0px 0px 3px 0px;
}

.characterImg{
  width: 100%;
  height: 80%;
}

.button{
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #4F9DA6;
  margin: 10px;
  border-radius: 50px;
  background-color: transparent;
  color: #4F9DA6;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.button:hover{
  background-color: #4F9DA6;
  color: #FACF5A;
}

#sectionAttack{
  display: none;
  flex-direction: column;
  align-items: center;
  background-image: url('../assets/arena.jpg'); 
  background-size: contain; 
  background-position: center; 
  background-repeat: no-repeat;
  height: 570px;
  width: 1000px;;
}

#head {
  display: flex; 
  justify-content: space-between; 
  height: 25%;
  width: 100%;
  align-items: center; 
}

#head p{
  color: #FACF5A;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  padding: 10px;
  margin: 5px;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: rgba(35, 49, 66, 0.8);  
}

#attacks{
  display: flex;
  justify-content: space-between;
  height: 42%;
  width: 100%;
}

#attacksPlayerOne{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 10px;
  width: 25%;
  margin: 5px;
  background-color: rgba(35, 49, 66, 0.8);
}

#playerAttacks{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.buttonsAttacks{
  padding: 3px;
  box-sizing: border-box;
  border: 2px solid #FACF5A;
  margin: 5px;
  border-radius: 100px;
  background-color: #FF5959;
  color: #FACF5A;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  display: flex;

}

.buttonsAttacks:hover{
  background-color: #FACF5A;
  color: #4F9DA6;
}

#divPlayersInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95%;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: rgba(35, 49, 66, 0.8);
  width: 40%;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: italic;
  color: white;
  
}

#round{
  display: flex;
  margin: 7px 0px 5px 0px;
  background-color: transparent;
  font-size: 16px;
}

#sectionMessage {
  display: flex;
  justify-content: space-evenly;
  width: 95%;
  height: 80%;
  border-radius: 5px;
  overflow-y: auto; 
  font-size: 16px; 
}

/* #divPlayersInfo #sectionMessage::-webkit-scrollbar {
  width: 8px; 
  background: transparent; 
}

#divPlayersInfo #sectionMessage::-webkit-scrollbar-track {
  background: #233142; 
  border-radius: 10px; 
}

#divPlayersInfo #sectionMessage::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.8); 
  border: 1px solid black;
  border-radius: 10px; 
} */

.playersStatistics{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  width: 40%;
  margin: 3px;
  border-radius: 20px;
  padding: 10px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: italic;
  color: white;
}

#divResetButton{
  display: flex;
  flex-direction: column;
  align-items: center;
  }
#attacksPlayerTwo{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  margin: 5px;
}

#imgCharacters{
  display: flex; 
  justify-content: center; 
  align-items: center; 
/*   gap: 20px; */
  width: 100%;
  height: 27%;
}

#imgCharacters img{
  width: 13%;
  height: 99%;
  margin: 60px;
}

#img_player{
  transform: scaleX(-1);
}

@media (max-width: 900px) {
 
  .title {
    font-size: 28px; 
  }

  h2 {
    font-size: 18px; 
    margin: 0px;
  }

  .characterCard {
    width: 90px; 
    height: 150px; 
    font-size: 14px; 
    margin: 5px;
  }  
  
  .button {
    font-size: 14px; 
    padding: 5px;
    margin: 0px;
  } 
}



@media (max-width: 560px) {

  .title {
    font-size: 24px; 
  }

  h2 {
    font-size: 16px; 
  }

  .characterCard {
    width: 60px; 
    height: 100px; 
    font-size: 16px; 
    font-size: 10px;
  }  

  .button {
    font-size: 12px; 
    padding: 3px;
  } 
}

@media (max-width: 440px) {
  .title {
    font-size: 20px; 
  }

  h2 {
    font-size: 16px; 
    margin: 10px;
  }

  #cardContainer{
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  place-items: center;
  margin: 0px;
  }

  .characterCard {
    width: 80px; 
    height: 120px; 
    font-size: 12px;
  }  

  .button {
    margin: 15px;
    font-size: 14px; 
    padding: 3px;
  } 
}