body{
  display: flex;
  justify-content: center;
  background-color: #6b9873;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #396365;
}

#selectCharacter{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  font-size: 36px;
  font-family: "Pacifico";
}

h1{
  margin: 0px;
}

h2{
  margin: 10px;
}

input{
  display: none;
}

#cardContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 5px;
}

.characterCard{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 140px;
  margin: 10px;
  border: 2px solid #c68b8b;
  border-radius: 20px;
  background-color: #ebfcd9;
  font-size: 18px;
  font-style: italic;
}

.characterCard:hover{
  background-color: #f4d33b;
}


input:checked + label{
  background-color: #f4d33b;
  color: #c68b8b;
  width: 230px;
  height: 150px;
}

.characterName{
  margin: 0px 0px 3px 0px;
}

.characterImg{
  width: 120px;
  height: 120px;
}

.button{
  padding: 8px;
  margin: 10px;
  border-radius: 50px;
  background-color: #ebfcd9;
  color: #396365;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.button:hover{
  background-color: #9de5de;
}

#sectionAttack{
  display: none;
  flex-direction: column;
  background-image: url('../assets/arena.gif'); 
  background-position: center;
  height: 570px;
  width: 1000px;;
  color: #f4d33b;
}

#head {
  display: flex; 
  justify-content: space-between; 
  height: 25%;
}

#head p{
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  background-color: #396365;
  opacity: 0.8;  
}

#attacks{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48%;
  width: 100%;
}

#attacksPlayerOne{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    margin: 1% 6% 1% 4%;
}

#sectionAttack h2{
  border-radius: 10px;
  background-color: #396365;
  opacity: 0.8; 
  padding: 5px;
}

#playerAttacks{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  }

  .buttonsAttacks {
    padding: 3px;
    margin: 5px;
    border-radius: 30px;
    background-color: #f4d33b;
    font-size: 30px;
    font-weight: 700;
}

.buttonsAttacks:hover{
  background-color: #c68b8b;
}

#divPlayersInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  
}

#sectionMessage {
  display: none;
  justify-content: center;
  width: 95%;
  height: 80%;
}

.playersStatistics{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #396365;
  opacity: 0.9;
  width: 40%;
  margin: 5px;
  border-radius: 20px;
  padding: 5px;
  font-size: 14px;
  font-weight: 200;
}

#resetDiv{
  display: none;
  flex-direction: column-reverse;
  align-items: center;
  background-color: #396365;
  opacity: 0.9;
  border-radius: 20px;
  padding: 15px;
  }
#attacksPlayerTwo{
  display: flex;
  align-items: center;
  background-color: #396365;
  opacity: 0.9;
  border-radius: 20px;
  padding: 15px;
  margin: 60px;
  height: 20%;
}

#imgCharacters{
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 27%;
}

#imgCharacters img{
  width: 13%;
  margin: 60px;
}

#img_player{
  transform: scaleX(-1);
}

@media (max-width: 1000px) {
 
  .title {
    font-size: 28px; 
  }

  h2 {
    font-size: 16px; 
    margin: 0px;
  }

  .characterCard {
    width: 170px; 
    height: 120px; 
    font-size: 14px; 
    margin: 5px;
  }

  .characterImg{
    height: 90px;
    width: 90px;
  }

  input:checked + label{
    width: 180px;
    height: 130px;
  }
  
  .button {
    font-size: 12px; 
    padding: 5px;
    margin: 5px;
  } 

  #sectionAttack {
  width: 800px;
  height: 456px;
  background-position: center;
  }

  #head p {
    font-size: 12px; 
  }

  .buttonsAttacks {
    font-size: 16px; /* Reduce el tamaño de los botones de ataque */
    padding: 2px;
  }

  #divPlayersInfo {
    height: 100%;
    width: 35%; 
  }
  #round{
    margin: 7px;
  }

  .playersStatistics {
    font-size: 10px;
    margin: 5px; 
    width: 35%;
    height: 80%;
  }

  #resetDiv {
    height: 50%;
    font-size: 14px;
  }

  #attacksPlayerTwo {
    height: 10px;
    margin: 4.5%;

  }

  #imgCharacters img {
    width: 13%;
    margin: 40px;
  }
}

@media (max-width: 800px) {

  .title {
    font-size: 16px; 
  }

  h2 {
    font-size: 12px; 
  }

  .characterCard {
    width: 160px; 
    height: 110px; 
    font-size: 12px; 
    margin: 5px;
  }

  .characterImg{
    height: 80px;
    width: 80px;
  }

  input:checked + label{
    width: 165px; 
    height: 115px; 
  }

  .button {
    font-size: 10px; 
    padding: 3px;
  } 

  #sectionAttack {
    width: 560px; 
    height: 285px; 
    background-image: url('../assets/arena_560_285.gif'); 
  }
  
  #head p {
    font-size: 6px; 
  } 
  
  .buttonsAttacks {
    font-size: 12px; 
  }
  
  .playersStatistics {
    font-size: 8px;
    margin: 3px; 
  }

  #resetDiv {
    height: 60%;
    font-size: 10px;
  }

  #attacksPlayerTwo {
    height: 5px;
    margin: 4%;
    font-size: 10px;

  }
  
}

@media (max-width: 560px) {
  .title {
    font-size: 20px; 
  }

  h2 {
    font-size: 14px; 
    margin: 10px;
  }

  #cardContainer{
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  place-items: center;
  margin: 0px;
  }

  .characterCard {
    flex-direction: column;
    justify-content: center;
    width: 100px; 
    height: 130px; 
    font-size: 12px;
  }
  
  input:checked + label{
    width: 105px;
    height: 140px;
  }

  .button {
    margin: 5px;
    font-size: 11px; 
    padding: 3px;
  } 

  #sectionAttack {
    background-image: url('../assets/arena_vertical.gif'); 
    width: 360px; 
    height: 640px; 
  }

  #head{
    align-items: flex-start;
    height: 20%;
  }
  
  #head p {
    font-size: 12px; 
  }
  
  #attacksPlayerOne{
    width: 20%; 
    margin: 5px;

  }

  #playerAttacks{
    display: flex;
    flex-direction: column;
  }
  
  .buttonsAttacks {
    font-size: 16px; 
  }

  #divPlayersInfo {
    height: 65%;
    width: 60%;
}
  .playersStatistics {
    font-size: 8.5px;
    margin: 3px; 
  }

  #resetDiv {
    height: 40%;
  }

  #attacksPlayerTwo{
    width: 9%; 
    margin: 5px;
    font-size: 10px;


  }

  #imgCharacters img {
    height: 50%;
    width: 20%;
}
}